.formControl.error textarea,
.formControl.error input {
    border: solid 	#DC143C 2px;
}

.formControl.error span {
    color: 	#DC143C
}

.formSummaryError{
    border: solid #DC143C 2px;
    padding: 5px;
    color: #DC143C
}