.paginator {
    margin: 10px;
}

.pagesNumber {
    padding: 2px;
    /* border: 1px solid grey; */
    cursor: pointer;
    border-radius:10%
}

.pagesNumber.selectedPage {
    font-weight: bold;
    background-color: gold;
}