.userPhoto {
    width: 150px;
    height: 150px;
    padding-bottom: 2px;
}

.selectedPage {
    font-weight: bold;
}

.pagesNumber {
    cursor: pointer;
}

.loader {
    max-width: 250px;
    max-height: 250px;
}

.userItem {
    padding: 15px;
}