.header {
    grid-area: h;
    background-color: dimgray;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    padding-right: 790px;
    font-weight: 700;
    font-size: 20px;
}

.welcome span {
    color: #FFD700;
}

.header img {
    width: 80px;
    height: 75px;
}

.loginBlock {
    float: right;
}



.loginHeader span {
    color: #FFD700;
    font-size: 14px;
    

}

