.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    text-decoration: none;
    color: white
}
.dialogsItems .active {
    color: gold;
    text-decoration: none;
}
.dialog {
    text-decoration: none;
}

.dialog a {
    text-decoration: none;
    /* color: white; */
}

.messages {
    padding: 10px;
}

.message {}